clip-config.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
examples/CMakeFiles/
examples/cmake_install.cmake
examples/copy
examples/hello_world
examples/int_format
examples/Makefile
examples/paste
examples/put_image
examples/show_image
libclip.a
Makefile
tests/clip_image_tests
tests/clip_text_tests
tests/clip_user_format_tests
tests/CMakeFiles/
tests/cmake_install.cmake
tests/CTestTestfile.cmake
tests/Makefile
